@import "some"
$font-stack : Helvetica, sans-serif
body
  background: #E2E1E6
  max-height: 10px
  display: -ms-flexbox
header
  display: flex
  background: linear-gradient(to left, #6EA4D0, #9AD4DF 50%, #A9ACE3 100%)
  border-bottom: 1px solid
  justify-content: space-between
  padding: 30px 30px 0 30px
  img
    max-width: 15%
    max-height: 15%
.icon
    font: $font-stack
.navbar
  margin-top: 3px
  display: flex
  justify-content: center
  background: #C8B6DC
  ul
    display: flex
    list-style-type: none
    justify-items: center
    align-items: center


    li
      margin: 8px 25px

